[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-term-helpers = "*"
ipdb = "*"
python-dotenv = "*"
eyed3 = "*"

[dev-packages]

[requires]
python_version = "3.8"
